/* Reset default margin and padding for the ul and li elements */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation bar */
nav {
  background-color: rgb(18, 4, 29);
  color: rgb(34, 85, 34);
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: rgb(225, 236, 162);
}

/* Style the main content */
.movie-section {
  text-align: center;
  padding: 100px 0;
  background-color: #700505e0;
}

/* Style the footer */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
}

#bo {
  width: 100%;
  height: 100%;
  position: relative;
}
.shinchan {
  background-color: black;
}
